{% extends "quiz/layout.html" %}

{% block body %}

<div style="margin: 20px;">
  <!-- loads the users records -->
{% for j in user.recorded_Ans.values %}
<div class="accordion accordion-flush" id="accordionFlushExample" style="background-color: #a2a0a030;">
    <div class="accordion-item" style=" border-bottom-color: rgba(128, 128, 128, 0.31); border-bottom-style: solid; border-bottom-width: 1px;">
      <h2 class="accordion-header" id="flush-heading{{j.id}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{j.id}}" aria-expanded="false" aria-controls="flush-collapse{{j.id}}">
          Quiz id :{{ j.id }}
        </button>
      </h2>
      <div id="flush-collapse{{j.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{j.id}}" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" style="background-color: #fff;">
            {% for i in j.qna.results %}
              <h4>Q. {{ i.question }}</h4>
              <div style="margin-left: 30px;">
                <font color="green"> {{ i.correct_answer }}</font><br>
                {% for j in i.incorrect_answers %}
                  <font>{{ j }}</font><br>
                {% endfor %}
              </div>
            {% endfor %}
          <br>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
    You don't have any records 
{% endfor %}
{% endblock %}